<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.jpg">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1997953_eky7eypxmnh.css">
  <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.1.2/styles/monokai.min.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
  <!-- <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.1.2/styles/googlecode.min.css" rel="stylesheet"> -->
  <!-- <link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.1.2/styles/vs.min.css" rel="stylesheet"> -->
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="blog-admin"></div>
  <!-- built files will be auto injected -->
</body>

</html>
