@mixin wh($width, $height) {
  width: $width;
  height: $height;
}
@mixin bg-max($url) {
  background-image: $url;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@mixin center() {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
@mixin font($size, $color, $weight) {
  color: $color;
  font: {
    weight: $weight;
    size: $size
  }
}