$blog-head-h: 60px;
$blog-head-bg: url("~@/assets/img/blog-head2.jpg");
$blog-avatar: url("~@/assets/img/icon-avatar.jpg");
$blog-logo: url("~@/assets/img/icon-logo.jpg");
$blog-bg: url("~@/assets/img/blog-bg4.jpg");
$blog-bg-color: rgba(255, 255, 255, 0.8);
$blog-tag-color: #00b5ad;
// home
$icon-email: url("~@/assets/icon/email.png");
$icon-phone: url("../assets/icon/phone.png");
$icon-weChat: url("../assets/icon/weChat.png");
$icon-qq: url("../assets/icon/qq.png");
$icon-github: url("../assets/icon/github.png");
//amuse 
$title-amuse: url("../assets/img/icon-logo.jpg");


// 博客后台管理系统
$admin-bg-color: #009a61;